/* CSS */
/* FLEXBOX */
.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32vh;
  }

  .flex-item {
    padding: 5px;
    width: 200px;
    height: 150px;
    margin: 10px;
    line-height: 150px;
    font-weight: bold;
    font-size: 13em;
    text-align: center;
  }

  #item-one {
    color: #128C87;
  }

  .flex-item2 {
    padding: 5px;
    width: 250px;
    height: 250px;
    margin: 10px;
    line-height: 150px;
    color: #FF9130;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
  }

  #item-two {
    color: #F53A33;
  }

  .flex-item3 {
    padding: 5px;
    width: 500px;
    height: 50px;
    margin: 10px;
    line-height: 150px;
    color: #FF9130;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    letter-spacing: 2px;
  }

  #item-three {
    color: #FEDD55;
  }

  body {
      background-color: #3B0031;
  }
  